body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0px;
}

.header {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding:0;
    margin:0;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}