body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0px;
}

.header {
    background-color: #d0bdf4;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding:0;
    margin:0;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.left {
    margin-left:350px;
    margin-right: 100px;
}

.right {
    margin-right: 350px;
}



/* Content A */
.content-a {
    background-color: #d0bdf4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}


.primary {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 20px;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    background: #3882f6;
    width: 100px;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
}



/* Content B */
.content-b {
    margin-top: 50px;
    text-align: center;
    align-content: center;
    height: 500px;
}

.b-primary {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.item {
    max-width: 200px
}

.item img {
    border-radius: 8px;
}

.text {
    margin-top: 5px;
    font-size: 18px;
    color: #1F2937;
}



/* Content C */
.content-c {
    margin-top: 50px;
    height: 500px;
    background-color: #e5e7eb;
    justify-content: center;
    align-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 20px;
    text-align: center;
}

.author {
    color: #1F2937;
    font-size: 30px;
    font-weight: 900;
    text-align: end;
    margin-right: 300px;
}



/* Content D */
.content-d {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 1200px;
    height: 150px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-left {
    margin-left:150px;
    color: white;
    font-size: 28px;
}

.left-body {
    color: white;
    font-size: 20px;
    font-weight: 200;
}


.block-right {
    margin-right: 150px;

}

.button-d {
    cursor: pointer;
    background: #3882f6;
    width: 120px;
    padding: 8px 16px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 700;
}



/* Footer */
.footer {
    background-color: #d0bdf4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
}